# Importar bibliotecas

In [111]:
import numpy as np
import pandas as pd

# importar os arquivos .csv

# leitura dos arquivos

In [112]:
chuva_meteoros = pd.read_csv('data/meteorshowers.csv')
fases_lunares = pd.read_csv('data/moonphases.csv')
constelacoes = pd.read_csv('data/constellations.csv')
cidades = pd.read_csv('data/cities.csv')

# imprima head e info desses DataFrames. O *head* permite que você veja as primeiras cinco linhas nos arquivos .csv. O *info* fornece uma visão geral de quais dados podem estar ausentes.

In [113]:
chuva_meteoros.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,april,april,21,april,22,northern,northern
1,Eta Aquarids,Aquarius,may,april,19,may,28,"northern, southern",southern
2,Orionids,Orion,october,october,2,november,7,"northern, southern","northern, southern"
3,Perseids,Perseus,august,july,14,august,24,northern,northern
4,Leonids,Leo,november,november,6,november,30,"northern, southern","northern, southern"

In [114]:
chuva_meteoros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 5 non-null      object
 1   radiant              5 non-null      object
 2   bestmonth            5 non-null      object
 3   startmonth           5 non-null      object
 4   startday             5 non-null      int64
 5   endmonth             5 non-null      object
 6   endday               5 non-null      int64
 7   hemisphere           5 non-null      object
 8   preferredhemisphere  5 non-null      object
dtypes: int64(2), object(7)
memory usage: 488.0+ bytes

In [115]:
fases_lunares.head()

     month  day      moonphase specialevent
0  january    1            NaN          NaN
1  january    2  first quarter          NaN
2  january    3            NaN          NaN
3  january    4            NaN          NaN
4  january    5            NaN          NaN

In [116]:
fases_lunares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   month         366 non-null    object
 1   day           366 non-null    int64
 2   moonphase     50 non-null     object
 3   specialevent  10 non-null     object
dtypes: int64(1), object(3)
memory usage: 11.6+ KB

In [117]:
constelacoes.head()

  constellation bestmonth  latitudestart  latitudeend besttime hemisphere
0          Lyra    august             90          -40    21:00   northern
1      Aquarius   october             65          -90    21:00   southern
2         Orion   january             85          -75    21:00   northern
3       Perseus  december             90          -35    21:00   northern
4           Leo     april             90           65    21:00   northern

In [118]:
constelacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   constellation  5 non-null      object
 1   bestmonth      5 non-null      object
 2   latitudestart  5 non-null      int64
 3   latitudeend    5 non-null      int64
 4   besttime       5 non-null      object
 5   hemisphere     5 non-null      object
dtypes: int64(2), object(4)
memory usage: 368.0+ bytes

In [119]:
cidades.head()

          city  latitude               country
0    Abu Dhabi     24.47  United Arab Emirates
1        Abuja      9.07               Nigeria
2        Accra      5.55                 Ghana
3    Adamstown    -25.07      Pitcairn Islands
4  Addis Ababa      9.02              Ethiopia

In [120]:
cidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   city      256 non-null    object
 1   latitude  256 non-null    float64
 2   country   256 non-null    object
dtypes: float64(1), object(2)
memory usage: 6.1+ KB

# Converter  as colunas de mês em números
## Mapeie os meses para as colunas que têm meses.
*bestmonth* => melhor mes
*startmonth* => mes de inicio
*endmonth* => fim do mes

# Verifique as alterações adicionando chamadas para head() e info() em cada um dos três DataFrames que você modificou

In [121]:
meteor_showers = pd.read_csv('data/meteorshowers.csv')
moon_phases = pd.read_csv('data/moonphases.csv')
constellations = pd.read_csv('data/constellations.csv')
cities = pd.read_csv('data/cities.csv')

In [122]:
months = {'january':1, 'february':2, 'march':3, 'april':4, 'may':5, 'june':6, 'july':7, 'august':8, 'september':9, 'october':10, 'november':11, 'december':12}
meteor_showers.bestmonth = meteor_showers.bestmonth.map(months)
meteor_showers.startmonth = meteor_showers.startmonth.map(months)
meteor_showers.endmonth = meteor_showers.endmonth.map(months)
moon_phases.month = moon_phases.month.map(months)
constellations.bestmonth = constellations.bestmonth.map(months)

In [123]:
meteor_showers.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,4,4,21,4,22,northern,northern
1,Eta Aquarids,Aquarius,5,4,19,5,28,"northern, southern",southern
2,Orionids,Orion,10,10,2,11,7,"northern, southern","northern, southern"
3,Perseids,Perseus,8,7,14,8,24,northern,northern
4,Leonids,Leo,11,11,6,11,30,"northern, southern","northern, southern"

# converta meses e dias no DataFrame meteor_showers em um tipo chamado datetime, que acompanha as datas.

In [124]:
meteor_showers['startdate'] = pd.to_datetime(2020*10000+meteor_showers.startmonth*100+meteor_showers.startday,format='%Y%m%d')
meteor_showers['enddate'] = pd.to_datetime(2020*10000+meteor_showers.endmonth*100+meteor_showers.endday,format='%Y%m%d')

In [125]:
meteor_showers.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere,startdate,enddate
0,Lyrids,Lyra,4,4,21,4,22,northern,northern,2020-04-21,2020-04-22
1,Eta Aquarids,Aquarius,5,4,19,5,28,"northern, southern",southern,2020-04-19,2020-05-28
2,Orionids,Orion,10,10,2,11,7,"northern, southern","northern, southern",2020-10-02,2020-11-07
3,Perseids,Perseus,8,7,14,8,24,northern,northern,2020-07-14,2020-08-24
4,Leonids,Leo,11,11,6,11,30,"northern, southern","northern, southern",2020-11-06,2020-11-30

# Siga o mesmo padrão para moon_phases:

In [126]:
moon_phases.head()

   month  day      moonphase specialevent
0      1    1            NaN          NaN
1      1    2  first quarter          NaN
2      1    3            NaN          NaN
3      1    4            NaN          NaN
4      1    5            NaN          NaN

In [127]:
moon_phases['date'] = pd.to_datetime(2020*10000+moon_phases.month*100+moon_phases.day,format='%Y%m%d')

In [128]:
moon_phases.head()

   month  day      moonphase specialevent       date
0      1    1            NaN          NaN 2020-01-01
1      1    2  first quarter          NaN 2020-01-02
2      1    3            NaN          NaN 2020-01-03
3      1    4            NaN          NaN 2020-01-04
4      1    5            NaN          NaN 2020-01-05

#  converta os dados do hemisfério em números usando o processo de mapeamento:

In [129]:
chuva_meteoros.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,april,april,21,april,22,northern,northern
1,Eta Aquarids,Aquarius,may,april,19,may,28,"northern, southern",southern
2,Orionids,Orion,october,october,2,november,7,"northern, southern","northern, southern"
3,Perseids,Perseus,august,july,14,august,24,northern,northern
4,Leonids,Leo,november,november,6,november,30,"northern, southern","northern, southern"

In [130]:
hemispheres = {'northern':0, 'southern':1, 'northern, southern':3}
meteor_showers.hemisphere = meteor_showers.hemisphere.map(hemispheres)
constellations.hemisphere = constellations.hemisphere.map(hemispheres)

In [131]:
meteor_showers.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere,startdate,enddate
0,Lyrids,Lyra,4,4,21,4,22,0,northern,2020-04-21,2020-04-22
1,Eta Aquarids,Aquarius,5,4,19,5,28,3,southern,2020-04-19,2020-05-28
2,Orionids,Orion,10,10,2,11,7,3,"northern, southern",2020-10-02,2020-11-07
3,Perseids,Perseus,8,7,14,8,24,0,northern,2020-07-14,2020-08-24
4,Leonids,Leo,11,11,6,11,30,3,"northern, southern",2020-11-06,2020-11-30

# converta as fases da Lua em números que representam o percentual da Lua que está visível.

In [132]:
moon_phases.head()

   month  day      moonphase specialevent       date
0      1    1            NaN          NaN 2020-01-01
1      1    2  first quarter          NaN 2020-01-02
2      1    3            NaN          NaN 2020-01-03
3      1    4            NaN          NaN 2020-01-04
4      1    5            NaN          NaN 2020-01-05

In [133]:
phases = {'new moon':0,'third quarter':0.5, 'first quarter':0.5,'full moon':1.0}
moon_phases['percentage'] = moon_phases.moonphase.map(phases)
moon_phases.head()

   month  day      moonphase specialevent       date  percentage
0      1    1            NaN          NaN 2020-01-01         NaN
1      1    2  first quarter          NaN 2020-01-02         0.5
2      1    3            NaN          NaN 2020-01-03         NaN
3      1    4            NaN          NaN 2020-01-04         NaN
4      1    5            NaN          NaN 2020-01-05         NaN

# Remover os dados desnecessários
*drop()* é utilizada para remover linhas ou colunas de um DataFrame do pandas.
*axis=1:* Este parâmetro axis especifica que as colunas devem ser removidas. O valor 1 refere-se às colunas, enquanto 0 se refere às linhas.

In [134]:
meteor_showers = meteor_showers.drop(['startmonth', 'startday', 'endmonth', 'endday', 'hemisphere'], axis=1)
moon_phases = moon_phases.drop(['month','day','moonphase','specialevent'], axis=1)
constellations = constellations.drop(['besttime'], axis=1)

# Dados ausentes

1. Crie uma variável para salvar a última fase que você viu.

2. Execute um loop em cada linha e coluna no DataFrame moon_phases.

3. Se o valor na coluna percentage de uma linha for NaN (nulo), substitua-o pela última fase que você viu.

4. Se o valor não for NaN, salve o valor como a última fase que você viu.

5. Mostre as informações do DataFrame moon_phases

In [135]:
moon_phases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        366 non-null    datetime64[ns]
 1   percentage  50 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [136]:
moon_phases.head()

        date  percentage
0 2020-01-01         NaN
1 2020-01-02         0.5
2 2020-01-03         NaN
3 2020-01-04         NaN
4 2020-01-05         NaN

In [137]:
lastPhase = 0

for index, row in moon_phases.iterrows():
    if pd.isnull(row['percentage']):
        moon_phases.at[index,'percentage'] = lastPhase
    else:
        lastPhase = row['percentage']

moon_phases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        366 non-null    datetime64[ns]
 1   percentage  366 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [138]:
moon_phases.head()

        date  percentage
0 2020-01-01         0.0
1 2020-01-02         0.5
2 2020-01-03         0.5
3 2020-01-04         0.5
4 2020-01-05         0.5

# Escrever a função de previsão

In [139]:
meteor_showers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 5 non-null      object
 1   radiant              5 non-null      object
 2   bestmonth            5 non-null      int64
 3   preferredhemisphere  5 non-null      object
 4   startdate            5 non-null      datetime64[ns]
 5   enddate              5 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 368.0+ bytes

In [140]:
moon_phases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        366 non-null    datetime64[ns]
 1   percentage  366 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

# A função que escrevemos precisa:

1. Determine a latitude de uma cidade.
2. Use essa latitude para descobrir quais constelações estão visíveis nessa cidade.
3. Use as constelações para determinar quais chuvas de meteoros estão visíveis nessa cidade.
4. Use as chuvas de meteoros para determinar as datas em que elas estão visíveis.
5. Use as datas para localizar a data ideal que tenha a menor quantidade de luz da Lua.

In [141]:
def prever_melhor_visualizacao_chuva_meteoros(city):
    # Pegar a latitude de cada cidade no dataframe cidades
    latitude = cities.loc[cities['city']== city, 'latitude'].iloc[0]

In [142]:
cities.head()

          city  latitude               country
0    Abu Dhabi     24.47  United Arab Emirates
1        Abuja      9.07               Nigeria
2        Accra      5.55                 Ghana
3    Adamstown    -25.07      Pitcairn Islands
4  Addis Ababa      9.02              Ethiopia

In [143]:
print(cities['city'] == 'Abu Dhabi')

0       True
1      False
2      False
3      False
4      False
       ...
251    False
252    False
253    False
254    False
255    False
Name: city, Length: 256, dtype: bool

In [144]:
print(cities.loc[cities['city'] == 'Abu Dhabi'])

        city  latitude               country
0  Abu Dhabi     24.47  United Arab Emirates

In [145]:
print(cities.loc[cities['city'] == 'Abu Dhabi', 'latitude'])

0    24.47
Name: latitude, dtype: float64

In [146]:
print(cities.loc[cities['city'] == 'Abu Dhabi', 'latitude'].iloc[0])

24.47

# Chamar a função

In [147]:
def prever_melhor_visualizacao_chuva_meteoros(city):
    # Pegar a latitude de cada cidade no dataframe cidades
    latitude = cities.loc[cities['city']== city, 'latitude'].iloc[0]
    
    return latitude

In [148]:
def predict_best_meteor_shower_viewing(city):
   
    latitude = cities.loc[cities['city'] == city, 'latitude'].iloc[0]

    return latitude

In [149]:
print(predict_best_meteor_shower_viewing('Abu Dhabi'))

24.47

# usar a latitude para determinar quais constelações são visíveis na cidade.

In [150]:
latitude = predict_best_meteor_shower_viewing('Abu Dhabi')

In [151]:
# Obtenha da lista de constelações quais são visíveis naquela latitude

constellation_list = constellations.loc[(constellations['latitudestart'] >= latitude) & (constellations['latitudeend'] <= latitude), 'constellation'].tolist()

# Imprimir a lista de constelações

In [152]:
cities.head()

          city  latitude               country
0    Abu Dhabi     24.47  United Arab Emirates
1        Abuja      9.07               Nigeria
2        Accra      5.55                 Ghana
3    Adamstown    -25.07      Pitcairn Islands
4  Addis Ababa      9.02              Ethiopia

In [153]:
def predict_best_meteor_shower_viewing(city):
    # Obtenha a latitude da cidade a partir do dataframe das cidades
    latitude = cities.loc[cities['city'] == city, 'latitude'].iloc[0]

   
    constellation_list = constellations.loc[(constellations['latitudestart'] >= latitude) & (constellations['latitudeend'] <= latitude), 'constellation'].tolist()
   
    # latitude  => 24.47
    
    return constellation_list

In [154]:
constellations.head()

  constellation  bestmonth  latitudestart  latitudeend  hemisphere
0          Lyra          8             90          -40           0
1      Aquarius         10             65          -90           1
2         Orion          1             85          -75           0
3       Perseus         12             90          -35           0
4           Leo          4             90           65           0

In [155]:
print(predict_best_meteor_shower_viewing('Abu Dhabi'))

['Lyra', 'Aquarius', 'Orion', 'Perseus']

# Criar uma cadeia de caracteres de saída

In [156]:
def predict_best_meteor_shower_viewing(city):
    
    meteor_shower_string = ""
    
    if city not in cities.values:
        meteor_shower_string = "Infelizmente, " + city + " não está disponível para uma previsão no momento."
        return meteor_shower_string

    # Obtenha a latitude da cidade a partir do dataframe das cidades
    latitude = cities.loc[cities['city'] == city, 'latitude'].iloc[0]

   
    constellation_list = constellations.loc[(constellations['latitudestart'] >= latitude) & (constellations['latitudeend'] <= latitude), 'constellation'].tolist()
   
    # latitude  => 24.47
    
    return constellation_list

In [157]:
print(predict_best_meteor_shower_viewing('Macapá'))

Infelizmente, Macapá não está disponível para uma previsão no momento.

# verificação para ver se uma constelação é visível na cidade especificada

In [158]:
def predict_best_meteor_shower_viewing(city):
    
    meteor_shower_string = "Em " + city + " você pode ver as seguintes chuvas de meteoros:\n"
    
    if city not in cities.values:
        meteor_shower_string = "Infelizmente, " + city + " não está disponível para uma previsão no momento."
        return meteor_shower_string

    # Obtenha a latitude da cidade a partir do dataframe das cidades
    latitude = cities.loc[cities['city'] == city, 'latitude'].iloc[0]

   
    constellation_list = constellations.loc[(constellations['latitudestart'] >= latitude) & (constellations['latitudeend'] <= latitude), 'constellation'].tolist()
   
   # Se nenhuma constelação estiver visível
    if not constellation_list:
        meteor_shower_string = "Infelizmente, não há chuvas de meteoros visíveis a partir de "+ city + "."

        return meteor_shower_string
    # latitude  => 24.47
    
    return constellation_list

In [159]:
print(predict_best_meteor_shower_viewing('Abu Dhabi'))

['Lyra', 'Aquarius', 'Orion', 'Perseus']

# Determinar quais chuvas de meteoros estão visíveis

In [160]:
def predict_best_meteor_shower_viewing(city):
    
    meteor_shower_string = ""
    
    if city not in cities.values:
        meteor_shower_string = "Infelizmente, " + city + " não está disponível para uma previsão no momento."
        return meteor_shower_string

    # Obtenha a latitude da cidade a partir do dataframe das cidades
    latitude = cities.loc[cities['city'] == city, 'latitude'].iloc[0]

   
    constellation_list = constellations.loc[(constellations['latitudestart'] >= latitude) & (constellations['latitudeend'] <= latitude), 'constellation'].tolist()
   
   # Se nenhuma constelação estiver visível
    if not constellation_list:
        meteor_shower_string = "Infelizmente, não há chuvas de meteoros visíveis a partir de "+ city + "."

        return meteor_shower_string
    # latitude  => 24.47
    
    meteor_shower_string = "Em  " + city + " você pode ver as seguintes chuvas de meteoros:\n"
    
    for constellation in constellation_list:
        # Encontre a chuva de meteoros mais próxima dessa constelação
        meteor_shower = meteor_showers.loc[meteor_showers['radiant'] == constellation, 'name'].iloc[0]
        # Encontre as datas de início e término dessa chuva de meteoros
        meteor_shower_startdate = meteor_showers.loc[meteor_showers['radiant'] == constellation, 'startdate'].iloc[0]
        meteor_shower_enddate = meteor_showers.loc[meteor_showers['radiant'] == constellation, 'enddate'].iloc[0]

        # Encontre as fases da Lua para cada data dentro do período visível daquela chuva de meteoros
        moon_phases_list = moon_phases.loc[(moon_phases['date'] >= meteor_shower_startdate) & (moon_phases['date'] <= meteor_shower_enddate)]
    # print(moon_phases_list)
    
    #Encontre a primeira data em que a Lua é menos visível
    best_moon_date = moon_phases_list.loc[moon_phases_list['percentage'].idxmin()]['date']
    
    # Add that date to the string to report back to the user
    meteor_shower_string += meteor_shower + " é melhor visto se você olhar para o" + constellation + " constelação em " +  best_moon_date.to_pydatetime().strftime("%B %d, %Y") + ".\n"
    
    return meteor_shower_string

In [161]:
print(predict_best_meteor_shower_viewing('Abu Dhabi'))

Em  Abu Dhabi você pode ver as seguintes chuvas de meteoros:
Perseids é melhor visto se você olhar para oPerseus constelação em July 20, 2020.

# Localizar a data ideal com base nas fases da Lua

In [171]:
def predict_best_meteor_shower_viewing(city):
    # Create an empty string to return the message back to the user
    meteor_shower_string = ""

    if city not in cities.values:
        meteor_shower_string = "Unfortunately, " + city + " isn't available for a prediction at this time."
        return meteor_shower_string

    # Get the latitude of the city from the cities DataFrame
    latitude = cities.loc[cities['city'] == city, 'latitude'].iloc[0]

    # Get the list of constellations that are viewable from that latitude
    constellation_list = constellations.loc[(constellations['latitudestart'] >= latitude) & (constellations['latitudeend'] <= latitude), 'constellation'].tolist()

    # If no constellations are viewable, let the user know
    if not constellation_list:
        meteor_shower_string = "Unfortunately, there are no meteor showers viewable from "+ city + "."

        return meteor_shower_string

    meteor_shower_string = "In " + city + " you can see the following meteor showers:\n"
    
    if meteor_shower == 'Chang\'e':
            # For the film meteor shower, find the date where the Moon is the most visible
            best_moon_date = moon_phases_list.loc[moon_phases_list['percentage'].idxmax()]['date']

            # Add that date to the string to report back to the user
            meteor_shower_string += "Though the Moon will be bright, " + meteor_shower + "'s meteor shower is best seen if you look towards the " + constellation + " constellation on " +  best_moon_date.to_pydatetime().strftime("%B %d, %Y") + ".\n"
    else:
            # Find the first date where the Moon is the least visible
            best_moon_date = moon_phases_list.loc[moon_phases_list['percentage'].idxmin()]['date']

            # Add that date to the string to report back to the user
            meteor_shower_string += meteor_shower + " is best seen if you look towards the " + constellation + " constellation on " +  best_moon_date.to_pydatetime().strftime("%B %d, %Y") + ".\n"
    
    # Iterate through each constellation that is viewable from the city
    for constellation in constellation_list:
        # Find the meteor shower that is nearest to that constellation
        meteor_shower = meteor_showers.loc[meteor_showers['radiant'] == constellation, 'name'].iloc[0]

        # Find the start and end dates for that meteor shower
        meteor_shower_startdate = meteor_showers.loc[meteor_showers['radiant'] == constellation, 'startdate'].iloc[0]
        meteor_shower_enddate = meteor_showers.loc[meteor_showers['radiant'] == constellation, 'enddate'].iloc[0]

        # Find the Moon phases for each date within the viewable time frame of that meteor shower
        moon_phases_list = moon_phases.loc[(moon_phases['date'] >= meteor_shower_startdate) & (moon_phases['date'] <= meteor_shower_enddate)]

        # Find the first date where the Moon is the least visible
        best_moon_date = moon_phases_list.loc[moon_phases_list['percentage'].idxmin()]['date']

        # Add that date to the string to report back to the user
        meteor_shower_string += meteor_shower + " is best seen if you look towards the " + constellation + " constellation on " +  best_moon_date.to_pydatetime().strftime("%B %d, %Y") + ".\n"
    
    return meteor_shower_string

In [163]:
print(predict_best_meteor_shower_viewing('Abu Dhabi'))

In Abu Dhabi you can see the following meteor showers:
Lyrids is best seen if you look towards the Lyra constellation on April 22, 2020.
Eta Aquarids is best seen if you look towards the Aquarius constellation on April 22, 2020.
Orionids is best seen if you look towards the Orion constellation on October 16, 2020.
Perseids is best seen if you look towards the Perseus constellation on July 20, 2020.

# Adicionando dados

In [164]:
meteor_showers.head()

           name   radiant  bestmonth preferredhemisphere  startdate    enddate
0        Lyrids      Lyra          4            northern 2020-04-21 2020-04-22
1  Eta Aquarids  Aquarius          5            southern 2020-04-19 2020-05-28
2      Orionids     Orion         10  northern, southern 2020-10-02 2020-11-07
3      Perseids   Perseus          8            northern 2020-07-14 2020-08-24
4       Leonids       Leo         11  northern, southern 2020-11-06 2020-11-30

In [165]:
change_meteor_shower = {'name':'Chang\'e','radiant':'Draco','bestmonth':'october','startmonth':'october','startday':1,'endmonth':'october','endday':31,'hemisphere':'northern','preferredhemisphere':'northern'}

# criando nova constelação

In [166]:
draco_constellation = {'constellation':'Draco','bestmonth':'july','latitudestart':90,'latitudeend':-15,'besttime':2100,'hemisphere':'northern'}

In [167]:
change_meteor_shower = {'name':'Chang\'e','radiant':'Draco','bestmonth':'october','startmonth':'october','startday':1,'endmonth':'october','endday':31,'hemisphere':'northern','preferredhemisphere':'northern'}

meteor_showers = pd.concat([meteor_showers, pd.DataFrame(change_meteor_shower, index=[0])], ignore_index=True)

In [168]:
draco_constellation = {'constellation':'Draco','bestmonth':'july','latitudestart':90,'latitudeend':-15,'besttime':2100,'hemisphere':'northern'}

constellations = pd.concat([constellations, pd.DataFrame(draco_constellation, index=[0])], ignore_index=True)